body,html{ 
    background: #2a2a2a;
    margin: 0 auto;
}

#tela{ 
    display:table; 
    margin: 0 auto;
}

.inpt-pergunta{
    background: #ab564a;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    font-size: 20px;
    height: 70px;
    width: 670px;
    padding: 0 15px;
    position: absolute;
}
.inpt-txt{
    background: #fff;
    border: 1px solid #2a2a2a;
    border-radius: 5px;
    color: #2a2a2a;
    font-size: 20px;
    height: 70px;
    width: 670px;
    padding: 0 15px;
    position: absolute;
}